/* SF Pro Display - Regular */
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SF Pro Display - Medium */
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SF Pro Display - Semibold */
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* SF Pro Display - Bold */
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* SF Pro Display - Light */
@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url("../fonts/SF/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* SF Pro Display - Regular */
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../fonts/SF/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
